{% extends "AsmodineFrontBundle:Page:layout.html.twig" %}

{% block content %}
    <section id="main" class="container contact">
        <div class="col-md-12 bg-white">
            <h1 class="text-center"> Conditions générales d’utilisation et mentions légales</h1>
            <p class="text-center">Date de la dernière modification : 21 août 2017</p>
            <p class="text-center"><a href="/files/CGU-et-mentions-legales-asmodine.pdf" target="_blank"><i class="fa-file-pdf-o fa fa-4x"></i></a></p>


            <h2>1. Bienvenue sur Asmodine</h2>
            <p>Nous vous souhaitons la bienvenue et vous remercions d’avoir choisi Asmodine.</p>
            <p>Asmodine a pour but de simplifier vos achats de vêtements, en vous fournissant tout ou partie des prestations suivantes :
                <ul>
                    <li>recommandations de tailles,</li>
                    <li>recommandations de tendances,</li>
                    <li>suggestions personnalisées de produits ou services et mise en relation avec des tiers partenaires.</li>
                </ul>
            </p>
            <p>Ci-après le « Service » ou les « Services ».</p>
            <p>Ces Services sont disponibles via notre site internet : www.asmodine.com (ci-après le « Site ») ainsi que sur nos applications pour téléphone mobile et tablette (ci-après les « Applications »).</p>
            <p>L’utilisation de notre Service impliquant l’acceptation des présentes Conditions Générales, nous vous remercions d’en prendre connaissance avec attention. Elles constituent un contrat nous liant, que vous pouvez aisément télécharger ou imprimer pour une lecture plus agréable.</p>
            <p>Ces Conditions Générales sont susceptibles d’évoluer au fur et à mesure du développement de nouveaux Services. Les Conditions Générales en ligne sur le site prévalent sur toutes les versions antérieures. Nous vous invitons donc à en prendre connaissance régulièrement.</p>

            <h2>2. Le Service</h2>
            <h3>2.1. Informations légales :</h3>
            <p>L’éditeur du Service proposé, disponible sur le Site et les Applications, est la société ASMODINE (SAS au capital social de 65000 euros située 165 avenue de Bretagne – 59000 LILLE, immatriculée au RCS de Lille Métropole sous le numéro 828636829, numéro TVA FR28828636829, téléphone 03.59.08.32.30  et email : contact@asmodine.com.</p>
            <p>Le directeur de publication est Monsieur Claude MARQUIS, en qualité de Président de la SAS ASMODINE, élisant domicile au siège social de cette dernière.</p>
            <p>L’hébergement, le stockage et le transport des données est assuré par (OVH SAS au capital social de 10 069 020,00 euros située 2 rue Kellerman 59100 Roubaix ,téléphone 1007 ).</p>

            <h3>2.2. Qualité du Service et responsabilité :</h3>
            <p>Nous nous engageons à veiller au bon fonctionnement des Services. Cependant notre responsabilité ne saurait être engagée pour tous dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques.</p>
            <p>Malgré nos efforts, le profil morphologique généré à l’aide des informations communiquées par vos soins, tout comme nos préconisations, peuvent être imparfaits. Notre Service ne remplace donc pas un essayage, mais doit être considérée comme une aide technologique à la décision, que vous utilisez sous votre entière responsabilité. Agissant en qualité de simple prestataire technique, nous ne pouvons en aucun cas être tenus pour responsables des éventuelles erreurs commises dans le cadre d’achat de produits faisant intervenir notre Service. Nous vous conseillons donc de toujours vous renseigner attentivement sur les conditions de retour/d’échange/de remboursement de produits avant toute commande, notamment s’agissant des délais et des frais applicables.</p>
            <p>Nous ne sommes pas non plus responsables des contenus (commentaires notamment) diffusés par des tiers sur notre site. Nous vous invitons toutefois à nous les signaler en cliquant sur le lien « signaler un contenu inapproprié ».</p>

            <h3>2.3. Prestations de tiers partenaires du Service</h3>
            <p>Une partie de notre Service consiste à vous mettre en relation avec des tiers partenaires qui proposent des services et vendent des produits en ligne.  Nous pouvons également mettre en oeuvre des liens vers des sites internet de sociétés tierces. Ce faisant, nous ne garantissons toutefois pas les offres de ces sociétés et n’engageons pas notre responsabilité pour le contenu de leurs sites internet. Nous n'assumons donc aucune responsabilité ou obligation pour les produits et services fournis par ces tiers. Vous devez par conséquent prendre connaissance avec attention de leurs conditions d'utilisation et de vente.</p>

            <h3>2.4. Disponibilité du Service</h3>
            <p>Nous mettons en œuvre nos meilleurs efforts pour vous garantir une bonne disponibilité du Service. Toutefois, nous ne pouvons en aucun cas être tenus responsables d’une indisponibilité temporaire ou définitive du site, ni de la suppression éventuelle de données qui en résulterait.</p>
            <p>Par ailleurs, toute violation des présentes nous permet, sans préavis et sans indemnité, de suspendre, bloquer ou supprimer votre compte. Il en va de même si vous ne donnez pas suite à deux demandes d’authentification de notre part ou si vos agissements sont susceptibles d’engager votre responsabilité.</p>

            <h2>3. Vos engagements</h2>
            <p>En acceptant les présentes Conditions Générales, vous :
                <ul>
                    <li>attestez être majeur et juridiquement capable, ou disposer de l’accord des titulaires de l’autorité parentale.</li>
                    <li>vous engagez à :
                        <ul>
                            <li>renseigner uniquement des informations exactes et à assurer leur mise à jour.</li>
                            <li>utiliser un équipement informatique en parfait état de fonctionnement et insusceptible de porter atteinte au Service.</li>
                            <li>utiliser notre Service pour votre seul usage personnel et à des fins non commerciales.</li>
                            <li>nous signaler, dans les plus brefs délais, toute utilisation frauduleuse de votre compte personnel ou toute perte, vol ou divulgation de vos identifiant et mot de passe, à l’adresse électronique suivante customercare@asmodine.com</li>
                            <li>utiliser notre Service conformément aux présentes, dans le respect des lois en vigueur et des droits des tiers.</li>
                        </ul>
                    </li>
                    <li>déclarez être seul responsable de l’usage fait de votre compte, et être parfaitement informé de la nécessité de préserver sa sécurité, notamment en utilisant un mot de passe suffisamment robuste.</li>
                </ul>
            </p>

            <h2>4. La protection des données à caractère personnel et les cookies</h2>
            <p>Nous traitons les données à caractère personnel vous concernant conformément à la loi modifiée n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés.</p>
            <p>Le responsable de traitement est : La SAS ASMODINE (informations et coordonnées au § 2.1)</p>
            <p>Le traitement de données à caractère personnel que nous mettons en œuvre a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés (CNIL) sous le numéro umu2411832i.</p>

            <h3>4.1. Les données que nous collectons</h3>
            <p>Nous traitons les données suivantes vous concernant :
            <ul>
                <li>Nom, prénom, adresse postale, adresse de courrier électronique, date de naissance</li>
                <li>Données morphologies renseignées par vos soins : taille, poids, tour de bras,  largeur d’épaule, tour de poitrine, tour de taille, tour de hanche, tour de cou, longueur du bras, tour de poignet, longueur de l’épaule à la hanche, creux du cou au sol, longueur d’entrejambe, tour de cuisse, tour de mollet, tour de tête, tour de doigt, longueur de la main, longueur du pied largeur du pied.</li>
                <li>Photographies prises par vos soins : ces photos font l’objet d’un traitement purement algorithmique permettant de préciser vos données morphologiques.  Elles ne sont donc pas conservées postérieurement à ce traitement algorithmique.</li>
            </ul>

            <p>Toutes ces données sont transmises de manière sécurisée, dans le respect des règles de sécurité en vigueur et traitées de façon automatisée.</p>
            <p>Les données personnelles vous concernant sont conservées pour une durée n’excédant pas la celle strictement nécessaire à la parfaite réalisation des finalités mentionnées au point 4.2.</p>

            <h3>4.2 Les finalités de ces traitements</h3>

            <p>Nous utilisons ces données à caractère personnel pour les finalités suivantes :
            <ul>
                <li>gestion des comptes utilisateurs, identification des utilisateurs sur le site,</li>
                <li>mise en œuvre des Services proposés (tels que définis au § 1)</li>
                <li>opérations de communication et d’animation du site,</li>
                <li>suivi des statistiques et mesures d’audience,</li>
                <li>gestion de la sécurité et du bon fonctionnement du site et des Services,</li>
                <li>mesure de la satisfaction et de la qualité des Services.</li>
            </ul>

            </p>

            <h3>4.3. Vos droits s’agissant de ces traitements</h3>
            <p>Conformément à la loi modifiée n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous disposez d’un droit d’accès, d’interrogation et de rectification qui vous permet en tant que de besoin de faire rectifier, compléter, mettre à jour ou effacer les données personnelles vous concernant qui seraient inexactes, incomplètes, équivoques, périmées ou dont la collecte, l'utilisation, la communication ou la conservation est interdite.</p>
            <p>Sur simple demande et dans les meilleurs délais, nous effacerons les données à caractère personnel qui ont été collectées par nos soins lorsque vous étiez mineur. Si nous avons transmis les données en cause à un tiers lui-même responsable de traitement, nous prendrons les mesures raisonnables, y compris d'ordre technique, compte tenu des technologies disponibles et des coûts de mise en œuvre, pour informer le tiers qui traite ces données que vous avez demandé l'effacement de tout lien vers celles-ci, ou de toute copie ou de toute reproduction de celles-ci.</p>
            <p>Vous disposez également d’un droit d’opposition au traitement de vos données à caractère personnel pour des motifs légitimes, ainsi qu’un droit d’opposition à ce que ces données soient utilisées à des fins de prospection commerciale.</p>
            <p>Enfin, nous vous informons que vous pouvez faire valoir vos directives relatives à la conservation, à l'effacement et à la communication de vos données après votre décès, conformément aux dispositions de l’article 40-1 de la loi du 6 janvier 1978 modifiée.</p>
            <p>L’ensemble de ces droits s’exerce auprès de la société Asmodine, par courrier postal adressé au siège de ladite société (adresse mentionnée au § 2.1), accompagné de la copie d’un titre d’identité comportant une signature, ou par l’intermédiaire de l’adresse de courrier électronique suivante :  contact@asmodine.com.</p>

            <h3>4.4. Les cookies</h3>
            <p>Lors d’une visite sur notre Site ou sur les Applications, des cookies ou témoins de connexion ou autres traceurs sont susceptibles d’être installés sur votre terminal. Par commodité, nous utilisons le terme de Cookie qui recouvre au sens large l'ensemble de ces technologies. Les Cookies permettent d’enregistrer des informations relatives à votre navigation, de reconnaître votre appareil et de vous fournir des offres et fonctionnalités personnalisées.</p>
            <p>Nous utilisons des Cookies pour les finalités suivantes :
            <ul>
                <li>Vous identifier lorsque vous vous connectez à notre site.</li>
                <li>Fournir des offres personnalisées, y compris de la publicité, et vous mettre en rapport avec nos tiers partenaires</li>
                <li>Préciser les préférences que vous avez spécifiées. Cela nous permet de respecter ce que vous appréciez et ce que vous n'appréciez pas, comme par exemple déterminer si vous souhaitez visualiser des annonces ou des produits en fonction de vos centres d'intérêt.</li>
                <li>Conserver le suivi des éléments enregistrés dans vos panier de commande</li>
                <li>Améliorer la sécurité et la qualité des Services</li>
            </ul>
            <p>Un bandeau d’information et de recueil de votre consentement concernant les Cookies vous est présenté sur la page d’accueil du site, dès lors que cela est nécessaire pour le respect des exigences imposées par la loi.</p>
            <p>S’agissant des traitements de données à caractère personnel impliquant des Cookies, vos droits mentionnés au § 4.3 s’appliquent.</p>

            <h2>5. Nos droits de propriété intellectuelle</h2>
            <p>Le contenu visuel et sonore du Site et des Applications, ainsi que leur architecture, sont originales et, à ce titre, protégées par le droit d’auteur, des marques et/ou des brevets. Il en va de même des technologies sous-jacentes et notamment des algorithmes utilisés.</p>
            <p>Les marques, logos, dessins et modèles figurant sur le site ou les Applications sont également protégés, de sorte que toute utilisation non autorisée constituerait un acte de contrefaçon.</p>
            <p>Ainsi, aucun des documents provenant du Site ou des Applications ne peut être reproduit, republié, téléchargé, ou transmis sans l’accord préalable de la société Asmodine.</p>
            <p>Notre base de données est également protégée au titre des articles L. 341-1 et suivants du Code de la propriété intellectuelle.</p>
            <p>La mise en place d’un lien simple renvoyant directement à page d'accueil du Site suppose l'autorisation préalable et expresse de la société Asmodine. Il ne s'agira en aucun cas d'une convention implicite d'affiliation.</p>

            <h2>6. Droit applicable et juge compétent</h2>
            <p>Les présentes Conditions Générales sont soumises à la loi française. Conformément aux règles du droit commun, le tribunal compétent en cas de litige sera celui du lieu de domicile ou du siège social du défendeur.</p>
            <p>Le Site est conforme à la législation française. Nous ne donnons aucune garantie de conformité à la législation locale qui vous serait applicable, dès lors que vous accédez au Site à partir d'autres pays.</p>


            <p class="text-center">Date de fraicheur : 02 février 2018</p>
        </div>
    </section>
{% endblock %}