{% extends "AsmodineFrontBundle:Page:layout.html.twig" %}

{% block content %}
<section id="main" class="container contact">
    <div class="col-md-12 bg-white">
        <h1>Politique des cookies</h1>
        <h2>INFORMATIONS GÉNÉRALES</h2>
        <p>Ce site internet utilise des cookies (témoins). Un cookie est un petit texte stocké par votre navigateur, qui lui permet de conserver des informations entre les pages internet et les sessions de navigation. Ces cookies permettent à Asmodine de conserver les informations sur votre navigation. Ils aident aussi à comprendre le comportement des utilisateurs du site, permettant ainsi de rendre votre expérience et votre navigation sur le site plus agréables. Les cookies ne peuvent conserver que du texte, qui est toujours confidentiel et bien souvent crypté. Asmodine ne conserve pas de données personnelles dans un cookie. Des cookies persistants sont utilisés dans un but uniquement statistique. Aucun autre cookie persistant n’est placé par le site dans le navigateur. Un cookie de session valable uniquement pendant la durée de la visite est placé. Des cookies tiers (placés par des sous-traitants, de éditeurs web, des services d’analyse d’audience ou des régies publicitaires, pour suivre la navigation ou établir le profil de navigation des utilisateurs à partir des sites visités) peuvent être utilisés.</p>

        <h2>DÉSACTIVATION ET SUPPRESSION DES COOKIES</h2>
        <p>Tous les navigateurs Web vous permettent de limiter les comportements des cookies ou de les désactiver dans les paramètres ou les options du navigateur. Les étapes à suivre sont différentes pour chaque navigateur. Grâce à votre navigateur, vous pouvez aussi consulter les cookies présents sur votre ordinateur et les supprimer. La désactivation des cookies affectera votre navigation sur le site. Si vous souhaitez les désactiver, vous pouvez suivre les procédures suivantes :</p>
        <ul>
            <li>Pour désactiver les cookies sur Firefox : <a href="http://support.mozilla.org/fr/kb/desactiver-cookies-tiers" target="_blank" rel="noopener">Cliquez ici</a></li>
            <li>Pour désactiver les cookies sur Internet Explorer : <a href="http://windows.microsoft.com/fr-fr/windows7/how-to-manage-cookies-in-internet-explorer-9" target="_blank" rel="noopener">Cliquez ici</a></li>
            <li>Pour désactiver les cookies sur Chrome : <a href="https://support.google.com/accounts/answer/61416?hl=fr" target="_blank" rel="noopener">Cliquez ici</a></li>
            <li>Pour désactiver les cookies sur Safrari : <a href="https://support.apple.com/kb/ph21411?locale=fr_CA" target="_blank" rel="noopener">Cliquez ici</a></li>
        </ul>
        <h2>QU’EST-CE QUE LES COOKIES ?</h2>
        <p>Les cookies sont des petits fichiers texte générés par les sites internet que vous visitez, et qui permettent de conserver des données qui peuvent être utiles par la suite. Ces données permettent de conserver vos informations entre les pages, mais aussi d’analyser la manière donc vous interagissez avec le site.</p>

        <p>Les cookies sont sécurisés, ils ne peuvent que stocker les informations qui sont mises à disposition par le navigateur, informations que l’utilisateur aura préalablement entré dans le navigateur ou qui sont incluses dans les demandes de page. Ils ne peuvent pas exécuter de code et ni être utilisés pour accéder à votre ordinateur. Si un site Web crypte des informations contenues dans un cookie, seul ce site pourra lire ces informations.</p>

        <p>Il y a deux différents types de cookies dont les utilisations et le contenu sont différents: temporaires et persistants.</p>

        <p>es cookies temporaires contiennent des informations qui sont utilisées au sein de votre session de navigation. Ces cookies sont automatiquement effacés lorsque vous fermez votre navigateur. Rien n’est conservé sur votre ordinateur une fois votre navigation terminée. Les cookies persistants servent à stocker des informations qui sont utilisées entre les visites. Ces données permettent aux sites de reconnaître que vous êtes un visiteur récurrent, et s’adaptent en conséquence.</p>

        <h2>POURQUOI UTILISER DES COOKIES ?</h2>
        <p>Les cookies sont utilisés par le site pour garder des informations sur votre session pendant que vous naviguez sur le site, garder des détails de votre navigation et vérifier si vous êtes connecté. Les cookies sont également utilisé pour conserver les données statistiques de vos visites et ainsi vous proposer une navigation toujours plus qualitative. </p>
    </div>
</section>
{% endblock %}