// color palette
$black: #000000;
$black_alpha: rgba(0, 0, 0, 0.5);
$black_alpha_07: rgba(0, 0, 0, 0.7);
$yellow: #DBB15D;
$white: #FFFFFF;
$light-grey: #F2F2F2;
$grey: #ACACAC;
$grey-light2: #dcddde;
$dark-grey: #3D3939;
$hr-grey: #717171;
$blog-color: #B7B7B7;
$filters-grey: #dcddde;
$yellow-light: #E9D06B;
$facebook-blue: #3B5998;

// others
$background_url: "/img/homepage/background.jpg";
$background_blur_url: "/img/background/blur.png";
$poids_picto_profil_url: "/img/picto/weight.png";
$oswald: Oswald, sans-serif;
$roboto_condensed: "Roboto Condensed", sans-serif;
$second_bar_height: 86px;
$social_icon_size: 28px;

// skin colors
$skin_very_light: #f5d9cb;
$skin_light: #edbfa7;
$skin_pink: #e2a9a6;
$skin_matte: #eab78a;
$skin_dark: #c5845c;
$skin_very_dark: #583b2b;

// eye colors
$eyes_blue: #307f9e;
$eyes_green_gray: #7c9d88;
$eyes_brown: #604f3d;
$eyes_black: #232323;

// hair colors
$hair_white: #f1f1f1;
$hair_blond: #cebe9d;
$hair_light_brown: #b57f43;
$hair_honey: #99672c;
$hair_brown: #4b322d;
$hair_black: #232323;

// grade color
$grade_red: #96281B;
$grade_orange: #ffa92d;
$grade_green: #03A678;
