<div class="row">
    <div class="col-md-10 col-md-push-1 text-center m-b-20">
        <p class="end">Bravo vous êtes inscrit!<br />
            Vous avez reçu un mot de passe<br />provisoire par mail.</p>
        <br />
        <button data-dismiss="modal" onclick="jQuery('#endModal').modal('hide'); " class="col-md-12 btn btn-primary waves-effect">
            J'ai compris!
        </button>
    </div>
</div>
