<div class="row">
    <div class="col-md-10 col-md-push-1 text-center m-b-20">
        <p class="proposal">Vous avez 2 possibilités : </p>
    </div>
</div>
<div class="row m-b-20 apps">
    <div class="col-md-6 text-center line-v">
        <p>Créer votre profil morphologique<br />
        depuis votre smartphone avec notre application<br />
        <span class="a-color">Asmodine Body-scan</span>.<br />
            À la pointe de la technologie !</p>
        <div class="row">
            <div class="col-md-6"><a href="https://play.google.com/store/apps/details?id=com.pulpsoft.asmodine&hl=en_US" target="_blank"><img src="{{ '/img/store/google.png' }}"></a></div>
            <div class="col-md-6"><a href="https://itunes.apple.com/PL/app/id1397344172?mt=8" target="_blank"><img src="{{ '/img/store/apple.png' }}"></a></div>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <p>Créer votre profil morphologique<br />rapide en 2 minutes.</p>
        <p>Vous pourrez le compléter pour plus de précision plus tard.</p>
        <p><button type="button" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary waves-effect" data-toggle="modal" data-target="#tempsubscriptionModal" data-dismiss="modal">
                Continuer
            </button>
    </div></p>
    </div>
</div>