{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ url('fos_user_resetting_send_email', {}, true) }}" method="POST" class="fos_user_resetting_request" id="dontpopin">
    <div>
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <div class="input-group form-group input-bordered">
                    <span class="input-group-addon">
                        <i class="fa fa-envelope size12"></i>
                    </span>
            <div>
                <input class="form-control" id="username" placeholder="{{ 'form.email'|trans }}" type="text" name="username">
            </div>
        </div>
    </div>
    <div class="row full">
        <button type="submit" name="submit" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary waves-effect">
            {{ 'resetting.request.submit'|trans }}
        </button>
    </div>
</form>
