<div class="row">
    <div class="col-md-10 col-md-push-1 text-center m-b-20">
        <p class="proposal">Laissez-vous guider,<br />
            Asmodine vous trouve automatiquement<br />tous les produits qui vous vont.</p>
        <br />
        <button data-dismiss="modal" onclick="jQuery('#autoProposalModal').modal('hide'); jQuery('#tempsubscriptionModal').modal('show');" class="col-md-12 btn btn-primary waves-effect">
            Je crée mon profil rapide
        </button>
    </div>
</div>
